.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 12.5em;
  background: #e1e1e1;
  font-size: 2em;
  margin: auto;

}

.wrapper * {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 32px;
}

.topTitle {
  font-size: 36px;
  color: #004f71;
  font-weight: 800;
  letter-spacing: -.5px;
  line-height: 140%;
  margin: 0 0 10px 0;
}