.previewTitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 34px;
  margin: 15px 0 10px;
  cursor: pointer;
  -webkit-text-decoration-color: #dd0031;
  text-decoration-color: #dd0031;
  text-decoration: none;
  font-weight: 800;
}

.previewTitle > a {
  color: #5b6770;
  text-decoration: none;
  font-size: 22px;
}

.tag {
  font-weight: 600;
  margin: 0 0 20px 0;
  letter-spacing: 2.4px;
  line-height: 20px;
  text-transform: uppercase;
  bottom: 0;
  position: absolute;
    
}

.tag * {
  font-size: 12px;
}


.featured {
  color: #5b6770;
  font-weight: 400;
}




