.hero {
    position: relative;   
    color: #fff;
    text-align:left;
   
   
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 100vh;
  max-height: 600px;
}

.heroDetails {
  position: absolute;  
  left:27%;
  bottom:5%;
  transform: translate(-50%, 0);
  font-size: 11px;
  padding: 0 0.5em;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 13px;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 17px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  
  font-weight: bold;
}

